<h1>Writing Service Sign-in</h1>
<%= form_tag(student_queues_path, method: "post") do %>

     <!--<label class="sr-only" for="exampleInputEmail2">Email address</label> -->
    <%= label_tag(:last_name, "Last Name *") %>
    <%= text_field_tag "student_last_name", placeholder= "Last Name", class: "form_signup"   %>

    <%= label_tag(:first_name, "First Name *") %>
    <%= text_field_tag "student_first_name", placeholder= "First Name", class: "form_signup"  %>

    <%= label_tag(:sid, "SID") %>
    <%= text_field_tag "student_sid", placeholder= "000000000", class: "form_signup" %>

    <%= label_tag(:email, "E-mail") %>
    <%= email_field_tag "student_email", placeholder="example@gmail.com", class: "form_signup"  %>
     
    <%= label_tag(:request_type, "Appointment") %>
    <%= radio_button_tag(:request_type, "Appointment") %>


    <%= label_tag(:course, "Course") %>
    <%= text_field_tag "student_course", placeholder= "History", class: "form_signup"  %>

    <%= submit_tag"Submit", :id => "form_submit" %>

<% end %>