<h1>Writing Service Sign-in</h1>
<%= form_tag(student_requests_path, method: "post") do %>

     <!--<label class="sr-only" for="exampleInputEmail2">Email address</label> -->
    <%= label_tag(:last_name, "Last Name *") %>
    <%= text_field :last_name, :placeholder => "Last Name", id:"student_last_name", class: "form_signup"  %>

    <%= label_tag(:first_name, "First Name *") %>
    <%= text_field :first_name, :placeholder => "Last Name", id:"student_first_name", class: "form_signup"  %>

    <%= label_tag(:sid, "SID") %>
    <%= text_field :first_name, :placeholder => "000000000", id:"student_sid", class: "form_signup"  %>

    <%= label_tag(:email, "E-mail") %>
    <%= email_field :email, :placeholder => "example@gmail.com", id:"student_email", class: "form_signup"  %>
     
    <%= label_tag(:request_type, "Appointment") %>
    <%= radio_button_tag(:request_type, "Appointment") %>


    <%= label_tag(:course, "Course") %>
    <%= text_field :course, :placeholder => "History", id:"request_course", class: "form_signup"  %>

    <%= submit_tag("Submit") %>

<% end %>
